{% extends 'index.html' %}
{% load static %}
{% block titulo %}
    About
{% endblock %}

{% block header_imagen %}
    {% static 'assets/img/about-bg.jpg' %}
{% endblock %}

{% block main%}
    <h1 class="px-5" id="about">Acerca de Mi</h1>
    <p class="px-5">
        Hola me llamo Fernandez Mayko, tengo 18 anios y soy programador de Python. Realice este proyecto
        con el fin de aprender a utilizar el framework de Django en su version 4. Espero poder agrandar mas 
        el proyecto agregando y acoplando mas frameworks y tecnologias, tambien espero agrandar esta pequena 
        descripcion.
    </p>
{% endblock main %}